GET http://localhost:3000/posts
# Authorization: Bearer JWT using POST method
#Request Headers
Authorization: Bearer abcde

###

POST http://localhost:3000/login
#Request Headers
Content-Type: application/json

{
    "username": ""
}